@using LootGenerator.Contracts.Responses.Collections
@model LootGenerator.Contracts.Responses.Collections.RandomizeByChanceResponse

@{
    ViewBag.Title = "Рандомизировать коллекцию";
    Layout = "_Layout";
    var recordExample = new RandomizeByChanceResponse.ItemRecord();
}

<h4>@Model.Name</h4>
<p>@Model.Description</p>

<table class="table">
    <thead class="table-info">
    <tr>
        <th>
            @Html.LabelFor(x => recordExample.Name)
        </th>
        <th class="col-3">
            @Html.LabelFor(x => recordExample.Count)
        </th>
        <th class="col-3">
            @Html.LabelFor(x => recordExample.Price)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var record in Model.Records)
    {
        <tr>
            <td>
                @record.Name
            </td>
            <td>
                @record.Count
            </td>
            <td>
                @record.Price
            </td>
        </tr>
    }
    </tbody>
</table>